@model IEnumerable<WarehouseSystem.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th></th>
            <td>
                <a asp-action="Details" asp-route-id="@item.SupplierId">Contact Info</a> |
                <a asp-action="">Products</a> |
                <a asp-action="">Purchase Orders</a>
            </td>
        </tr>
}
    </tbody>
</table>
